@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kedebideri:wght@400;500;600;700;800;900&display=swap');

:root {
    /* Core theme colors */ 
    /* Background colors, dark blue, for different amounts of depth */
    --dark-bg: #0D1622;       
    --dark-bg2: #0f1b2a;       
    --card-bg: #1A2635;         
    --section-bg: #323d53;  
    --navbar-bg: #242d3e;     

    /* For primary UI */
    --primary-blue: #4A78FF;     
    --light-blue: #A5BFF8;
    --light-blue-vague: #a5bff87e;    
    --amber-primary: #F49A32;    
    --amber-accent: #E7A038;  
    --amber-vague: #e29e373f; 

    --text-light: #F2F2F2;    
    --text-muted: #999999; 
    
    /* Neon runic glow colors */
    --neon-cyan: #00FFFF; 
    --neon-cyan-glow: rgba(0, 255, 255, 0.8);     
    --neon-magenta: #FF00FF;     
    --neon-green: #00FF00;  
    --neon-orange: #FF9900; 
    --neon-orange-dark: #DD7700;
    
}


body {
    font-family: 'Kedebideri', sans-serif !important;
    color: var(--text-light);
    background-color: var(--dark-bg);
}

h1 h2 h3 h4 h5 h6 p a {
    font-family: 'Kedebideri';
}




